.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.camera-icon {
  width: 150px;
  height: 150px;
}

.loader-text {
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.loader-letter {
  font-size: 24px;
  color: #fff;
  display: inline-block;
  // Additional styles for scattered animation
  // Example rotations
  &:nth-child(1) {
    transform: rotate(-10deg);
  }
  &:nth-child(2) {
    transform: rotate(10deg);
  }
  &:nth-child(3) {
    transform: rotate(-5deg);
  }
  &:nth-child(4) {
    transform: rotate(5deg);
  }
  &:nth-child(5) {
    transform: rotate(0deg);
  }
}
