.no-transition,
.no-transition *,
.no-transition *::before,
.no-transition *::after {
  transition: none !important;
}

@theme inline {
  /* Font Families */
  --font-heading: 'Cormorant Garamond', serif;
  --font-subheading: 'Josefin Sans', sans-serif;
  --font-body: 'Lato', serif;
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-mono: 'Space Mono', monospace;
}
