.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .loader-logo {
    .text-frame {
      display: none;
    }
    .text-os {
      fill: var(--color-text);
      stroke: none;
    }
    .frame-box {
      stroke-width: 8px;
    }
  }
}
